---
import '../assets/global.css'
import Header from '../components/header.astro'
import Dropdown from '../components/Dropdown.svelte';
import Button from '../components/Button.svelte'
---

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/InstarLogo.svg" />
	<meta name="viewport" content="width=device-width">
	<title>Admin</title>
</head>
<main class="main ">
	<Header />
	<!-- Main Content -->
	<div class="flex mt-24 flex-row items-center justify-around">
		<!-- House selection -->
		<div class="flex items-center justify-center">
			<div class="grid items-center justify-center gap-1 grid-cols-2">
				<button class="challengers hover:opacity-80 focus:outline">
					<div class="mx-5">
						<div class="text-container">
							<span class="">Challengers</span>
						</div>
					</div>
				</button>
				<button class="gladiators hover:opacity-80 focus:outline ">
					<div class="mx-5">
						<div class=" text-container">
							<span class="">Gladiators</span>
						</div>
					</div>
				</button>
				<button class="warriors hover:opacity-80 focus:outline">
					<div class="mx-5">
						<div class=" text-container">
							<span class="">Warriors</span>
						</div>
					</div>
				</button>
				<button class="knights hover:opacity-80 focus:outline">
					<div class="mx-5">
						<div class=" text-container">
							<span class="">Knights</span>
						</div>
					</div>
				</button>
			</div>
		</div>
		<!-- Event dropdown -->
		<Dropdown />
	</div>
	<div class="flex mt-10 items-center justify-center"><Button /></div>
</main>

</html>