---
	import '../assets/global.css'
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta  name="description" content="Check house scores with ease"/>
		<link rel="icon" type="image/x-icon" href="/InstarLogo.svg" />
		<meta name="viewport" content="width=device-width"> 
		<title>Instar</title>
	</head>
	<main class="main flex flex-col items-center justify-center relative">
		<!-- Logo -->
		<div class="logo">
			<img src="https://raw.githubusercontent.com/Instar-Group/instar-web/41958dc9fdee1fca654f8ff9e0c9732d325ad5af/static/InstarLogo.svg"
				alt="logo" height="100" width="100" />
			<span class="logo-text">Instar</span>
		</div>
		<!-- house points -->
		<div class="house-points">
			<div class="challengers">
				<div class="mx-5">
					<div class="text-container">
						<span class="">Challengers</span>
						<span class="">Score : 0</span>
					</div>
				</div>
			</div>
			<div class="gladiators">
				<div class="mx-5">
					<div class=" text-container">
						<span class="">Gladiators</span>
						<span class="">Score : 0</span>
					</div>
				</div>
			</div>
			<div class="warriors">
				<div class="mx-5">
					<div class=" text-container">
						<span class="">Warriors</span>
						<span class="">Score : 0</span>
					</div>
				</div>
			</div>
			<div class="knights">
				<div class="mx-5">
					<div class=" text-container">
						<span class="">Knights</span>
						<span class="">Score : 0</span>
					</div>
				</div>
			</div>
		</div>
	</main>
</html>
