<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/InstarLogo.svg" />
        <meta name="viewport" content="width=device-width">
        <title>History</title>
    </head>
    <main class="main">
        
    </main>
</html>