.DS_Store
node_modules
dist
package-lock.json
/packages/create-svelte/template/CHANGELOG.md
/packages/kit/src/packaging/test/watch/package
/documentation/types.js
.env
.svelte-kit
.vercel
.vercel_build_output
.vercel_build_output/functions/node/render/index.js
.vercel_build_output/static/_app/version.json
.vercel_build_output/static/_app/immutable/manifest.json
