.DS_Store
node_modules
dist
test-results/
package-lock.json
/packages/create-svelte/template/CHANGELOG.md
/packages/kit/src/packaging/test/watch/package
/documentation/types.js
.env
.svelte-kit
.vercel
