---
import { Icon } from 'astro-icon'
---

<header class="top-0 left-0 sticky p-4 flex flex-row justify-around shadow-sm">
    <div>
        <img src="/images/InstarLogo.svg" alt="logo" height="60" width="60" />
    </div>
    <span class="text-white flex items-center text-center justify-center  text-3xl">Admin Console</span>
    <div class="w-[70px] text-white">
        <Icon name="ph:user-circle" />
    </div>
</header>