
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'K2D';
	src: url(/K2D-Regular.ttf);
}

@layer base {
	main {
		@apply bg-slate-600 font-k2d h-screen w-screen top-0 left-0

	}
}

@layer components {
	.challengers {
		@apply bg-[#FF5252] rounded-md text-white text-lg  flex flex-col  items-center justify-center 
		h-36 w-36
		scale-[0.65]
		md:scale-100
		lg:scale-100 lg:m-2;
	}
	.gladiators {
		@apply bg-[#6BCB77] rounded-md text-white text-lg  flex flex-col items-center justify-center 
		h-36 w-36
		scale-[0.65] 
		md:scale-100
		lg:scale-100 lg:m-2;
	}
	.warriors {
		@apply bg-[#72AAFC] rounded-md text-white text-lg  flex flex-col  items-center justify-center
		h-36 w-36
		scale-[0.65]
		md:scale-100
		lg:scale-100 lg:m-2;
	}
	.knights {
		@apply bg-[#FFD93D] rounded-md text-white text-lg  flex flex-col items-center justify-center 
		h-36 w-36
		scale-[0.65] 
		md:scale-100
		lg:scale-100 lg:m-2;
	}
    .house-points {
		@apply items-center justify-center 
		grid grid-cols-2
		lg:flex-row lg:mt-16 lg:flex  
		md:flex-row md:mt-10  md:gap-7;
	}


	.logo {
		@apply flex flex-row 
		scale-[.8] pt-3
		md:scale-105
		lg:scale-105;
	}

	.logo-text {
		@apply text-white text-4xl items-center justify-center flex mx-3;
	}

	.text-container {
		@apply flex flex-col items-center justify-center my-10;
	}
}