@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'K2D';
	src: url(/static/fonts/K2D-Regular.ttf);
}

@layer base {
	main {
		@apply bg-slate-600 font-k2d h-screen w-screen top-0 left-0;
	}
}

@layer components {
	.challengers {
		@apply bg-[#FF5252] rounded-md text-white text-lg  flex flex-col  items-center justify-center 
		h-36 w-36
		scale-[0.65]
		md:scale-100
		lg:scale-100 lg:m-2;
	}
	.gladiators {
		@apply bg-[#6BCB77] rounded-md text-white text-lg  flex flex-col items-center justify-center 
		h-36 w-36
		scale-[0.65] 
		md:scale-100
		lg:scale-100 lg:m-2;
	}
	.warriors {
		@apply bg-[#72AAFC] rounded-md text-white text-lg  flex flex-col  items-center justify-center
		h-36 w-36
		scale-[0.65]
		md:scale-100
		lg:scale-100 lg:m-2;
	}
	.knights {
		@apply bg-[#FFD93D] rounded-md text-white text-lg  flex flex-col items-center justify-center 
		h-36 w-36
		scale-[0.65] 
		md:scale-100
		lg:scale-100 lg:m-2;
	}
}